*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    cursor: url("Images/Spotlight.png"), auto;
}

#background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("Images/Test.PNG");
    background-size: cover;
    z-index: -1;
    background-position: center;
    transition: transform 0.1s ease-out;
}

.light{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 0%, rgba(0,0,0,0.9) 20%);
}

/*SPOTLIGHT*/

.spotlight{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    pointer-events: none;
}

.spot {
    width: 700px;
    height: 700px;
    background: linear-gradient(180deg,
            rgb(207, 197, 162) 0%,
            rgba(255,255,255, 0) 75%,
            rgba(255,255,255, 0) 100%);
    outline-offset: 3px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    position: absolute;
    top: 0;
}

#spotLeft{
    left: 0;
    transform: translate(-20%, -15%) rotate(-50deg);
}

#spotRight{
    transform: translate(20%, -15%) rotate(50deg);
    right: 0;
}

.glitchLeft {
    position: absolute;
    transform: translate(-20%, -15%) rotate(-50deg);
    top: 0;
    left: 0;
    width: 700px;
    height: 700px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: linear-gradient(180deg,
            rgb(207, 197, 162) 0%,
            rgba(255,255,255, 0) 75%,
            rgba(255,255,255, 0) 100%);
    border-radius: 50% 50% 40% 40%;
    opacity: 0;
    pointer-events: none;
    animation: glitch 0.2s infinite;
    
}

.glitchRight {
    position: absolute;
    transform: translate(20%, 15%) rotate(-50deg);
    top: 0;
    right: 0;
    width: 700px;
    height: 700px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: linear-gradient(180deg,
            rgb(207, 197, 162) 0%,
            rgba(255,255,255, 0) 75%,
            rgba(255,255,255, 0) 100%);
    border-radius: 50% 50% 40% 40%;
    opacity: 0;
    pointer-events: none;
    animation: glitch 0.2s infinite;
}



/*BUTTON*/
.checkbox-wrapper-8 {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
}


.checkbox-wrapper-8 .tgl {
    display: none;
  }
  
.checkbox-wrapper-8 .tgl,
.checkbox-wrapper-8 .tgl:after,
.checkbox-wrapper-8 .tgl:before,
.checkbox-wrapper-8 .tgl *,
.checkbox-wrapper-8 .tgl *:after,
.checkbox-wrapper-8 .tgl *:before,
.checkbox-wrapper-8 .tgl + .tgl-btn {
    box-sizing: border-box;
}
  
.checkbox-wrapper-8 .tgl::-moz-selection,
.checkbox-wrapper-8 .tgl:after::-moz-selection,
.checkbox-wrapper-8 .tgl:before::-moz-selection,
.checkbox-wrapper-8 .tgl *::-moz-selection,
.checkbox-wrapper-8 .tgl *:after::-moz-selection,
.checkbox-wrapper-8 .tgl *:before::-moz-selection,
.checkbox-wrapper-8 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-8 .tgl::selection,
.checkbox-wrapper-8 .tgl:after::selection,
.checkbox-wrapper-8 .tgl:before::selection,
.checkbox-wrapper-8 .tgl *::selection,
.checkbox-wrapper-8 .tgl *:after::selection,
.checkbox-wrapper-8 .tgl *:before::selection,
.checkbox-wrapper-8 .tgl + .tgl-btn::selection {
    background: none;
}
  
.checkbox-wrapper-8 .tgl + .tgl-btn {
    width: 4em;
    height: 2em;
    opacity: 0;
    position: relative;
    left: 0%;
    top: 65%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.checkbox-wrapper-8 .tgl + .tgl-btn:after,
.checkbox-wrapper-8 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
  
.checkbox-wrapper-8 .tgl + .tgl-btn:after {
    left: 0;
}
  
.checkbox-wrapper-8 .tgl + .tgl-btn:before {
    display: none;
}
  
.checkbox-wrapper-8 .tgl:checked + .tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-8 .tgl-skewed + .tgl-btn {
    overflow: hidden;
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: #888;
}
  
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after,
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
  
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
}
  
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
}
  
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active {
    background: #888;
}
  
.checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active:before {
    left: -10%;
}
  
.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn {
    background: #86d993;
}
  
.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
}
  
.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:after {
    left: 0;
}
  
.checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
}

/*LIGHTS OFF PART*/
#lightsOffMode{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

#lightsMiddlePart{
    width: 100%;
    height: 100%;
    text-align: center;
    }

#lightsMiddlePart::before {
    content: "";
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 300px;
    right: 300px;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(0%) rotateX(95deg) scale(1, 0.35);
    background: linear-gradient(180deg,
    rgb(207, 197, 162) 0%,
    rgba(255,255,255, 0) 75%,
    rgba(255,255,255, 0) 100%);;
    pointer-events: none;
}

#lightsOffText{
    position: relative;
    top: 40%;
    color: white;
    width: 80%;
    transform: translate(-50%, -50%);
}

#cb3-8{
    position: relative;
    top: 50%;
    display: none;
}

/*RAVE ON MODE*/
#raveOnMode{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

#raveTopPart{
    position: absolute;
    top: 5%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#bookingText{
    display: none;
}

#releasesText{
    display: none;
    transform: translate(-50%,);
}

#RaveMiddlePart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#raveOnText{
    position: relative;
    width: 40%;
}

#RaveBottomPart{
    width: 100%;
    position: absolute;
    bottom: 3%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#raveonLogo{
    display: none;
    width: 200px;
}

/*ANIMATIONS*/
.dezoomAnimation{
    animation: dezoom 1s forwards;
}

.fadeUpAnimation{
    animation: fadeUp 2s forwards ease-out;
}

.fadeOutAnimation{
    animation: fadeOut 1.3s forwards;
}

.fadeOuAndSkewtAnimation{
    animation: fadeOutAndSkew 1.3s forwards;
}

.opacityToZeroAnimation{
    animation: opacityToZero 3s forwards;
}

.fadeInAnimation{
    animation: fadeIn 1s forwards ease-out;
}

.simpleFadeAnimation{
    animation: simpleFade 1s forwards;
}

.simpleFadePlusTransformAnim{
    animation: simpleFadePlusTransform 2s forwards linear;
}

.spotlightAnimation{
    animation: spotlightanim 2s infinite linear;
}

@keyframes fadeUp {
    from { opacity: 0; transform: translateY(20px) skew(-10deg); }
    to { opacity: 1; transform: translateY(0) skew(-10deg); }
}

@keyframes dezoom {
    from {
        transform: scale(5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes opacityToZero{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fadeOutAndSkew{
    from {
        opacity: 1;
        transform: scale(1) skew(-10deg);
    }
    to{
        opacity: 0;
        transform: scale(0.5) skew(-10deg);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes fadeIn {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1.5);
    }
}

@keyframes simpleFade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes simpleFadePlusTransform {
    from{
        opacity: 0;
        transform: scale(1);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spotlightanim {
    0% {
        opacity: 0.1;
      }
    
      2% {
        opacity: 1;
      }
    
      8% {
        opacity: 0.1;
      }
    
      9% {
        opacity: 1;
      }
    
      12% {
        opacity: 0.1;
      }
      20% {
        opacity: 1;
      }
      25% {
        opacity: 0.3;
      }
      30% {
        opacity: 1;
      }
    
      70% {
        opacity: 0.7;
      }
      72% {
        opacity: 0.2;
      }
    
      77% {
        opacity: 0.9;
      }
      100% {
        opacity: 0.9;
      }
}

@keyframes glitch {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
}